[header]
project: Programming Test
budget: 4.5
accessed: 205

[meta data]
description: Now I will make this long again so that when I
  write this to disk it will span multiple lines and display the proper indentation on the lines after the first line and this is a great run on sentence.
correction text: I meant 'moderately,' not 'tediously,' above.

[trailer]
budget: all out of budget.

